
.grid-container {
  font-family: 'Times New Roman', Times, serif;
    display:inline-grid;
    color: beige;
    font-size: 200%;
    align-content: center;
    margin: 150px 250px;
  }
  
  body {
    background-color: #50704a;
   
    border: 2px solid white;
  }
#signup{
  display: inline-grid;
  font-family: 'Times New Roman', Times, serif;
  border: 2px solid;
  color: #50704a;
  font: 100;
  background-color: white;
  padding:20px;

}
.formContainer{
  font-family: 'Times New Roman', Times, serif;
  float: right;

  align-content: center;
  background: white;
  margin-top: 150px;
  margin-right:250px;
  padding-top: -10px;
  padding-left: 50px;
  padding-right:100px;
  font-size: 17px;

}
::placeholder{
  color: gray;
  opacity: 0.5;
}
h4{
  display:grid;
  background-color: #50704a;
  color: white;
  padding:10px;  
}




  