body{
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: paleturquoise;
}
.introduction{
    position: relative;
    border: 2px solid rosybrown;
    font-size: 20px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: rgb(74, 105, 95);
    text-align: center;
}
.menu a:link, a:visited {
    background-color: #f44336;
    color: white;
    padding: 14px 25px;
    margin:20px;
    text-align: center;
    text-decoration: none;
    
    display: inline-block;
  }
  

.introduction > #name{
    font-size: 200px;
}
.introduction>img{
    position: absolute;
    width: 10%;
    border-radius: 50%;
   display: inline-block;
   margin-left: 30%;  
   margin-top: 1%; 
}

.introduction > pre{
    position: relative;
    text-align:center ;
}
span{
    font-size: 30px;
    color:red;
}
.headings{
    top: 10;
    position: relative;
    text-align: left;
    background-color: orange;
    display: grid;
    width: 100%;
    text-align: center;
   
}
.menu{
    background-color: 52, 168, 83;
    
}

.menu ul li:hover{
    font-size: x-large;
    cursor: pointer;
}
.hover{
    border-right: 2px solid black ;
}
.menu ul li{
    display: inline;
    border-spacing: 20px;
    list-style: none;
    margin: 20px;
    
    text-align: left;
}
h4{
    display: inline;
    background-color: coral;
}
.contents{
    text-align: center;
    justify-content: center;
}
table {
    align:right;
   background-color: white;
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 50%;
    
  }
  
  td, th {
    border: 2px solid #dddddd;
    margin-right: 20;
    padding: 10px;
   
  }
  tr:hover{
      font-size: x-large;
  }
  td{
      text-align: left;
      margin-left: 200;
  }
  
  tr:nth-child(even) {
    background-color: #dddddd;
  }
  .belowLink {
      position:absolute;
      right:150 ;
      
  }
  #gototop{
    position: fixed;
    top:700;
    right:20;
    background-color: #f44336;
    
  }